<ion-header>

  <ion-navbar>
    <ion-title>Basket</ion-title>
    <ion-buttons end>
      <button ion-button (click)="emptyBasket()" *ngIf="products && products.length > 0">
        Vaciar ({{products.length}})
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-label *ngIf="!products">No hay productos en la lista de la compra.</ion-label>

  <ion-label *ngIf="products && products.length > 0">
    <button ion-button block (click)="placeOrder()">voy a enviar mi pedido...</button>
  </ion-label>

  <ion-list>

    <!-- <ion-card-content> -->
    <ion-item-sliding *ngFor="let product of products; let i = index">
      <ion-item>
        <span style="font-weight: 900">{{product.quantity}}</span>
        <span>{{product.name}}</span>
        <span item-end>{{product.price*product.quantity}}€</span>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteProduct(i)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>
    <!-- </ion-card-content> -->

  </ion-list>
</ion-content>