<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="currentShop">{{currentShop.name}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="gobasket()">
        <ion-icon name="cart"></ion-icon>&nbsp;
        <ion-badge>{{inBasket}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button (click)="goBack()">Volver</button>

  <ion-label *ngIf="today && today.length === 0">No hay productos disponibles.</ion-label>
  <ion-label *ngIf="today && today.length > 0">
    <h3>{{fecha.nombre}}, {{fecha.dia}}/{{fecha.mes}}. Tenemos...</h3>
  </ion-label>

  <div class="container">
    <div *ngFor="let product of today">

      <ion-card>

        <img *ngIf="product.image" src="product.image" />

        <ion-card-content no-padding>
          <ion-item>
            <strong>{{product.name}}</strong>
            <span item-end>{{product.price}}€</span>
          </ion-item>
          <p>{{product.description}}</p>
        </ion-card-content>

        <ion-row no-padding align-items-center>
          <ion-col col-4>
            <ion-label item-end>{{product.availableStockOut}} U.</ion-label>
          </ion-col>
          <ion-col>
            <button ion-button small block color="danger" icon-start (click)="alacesta(product)">
              A la cesta
            </button>
          </ion-col>
        </ion-row>

      </ion-card>
    </div>
  </div>

</ion-content>